.profile__edit {
    background-image: url(../../../images/edit.png);
    width: 24px;
    height: 24px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FFFFFF;
}