.card__description {
    display: flex;
    justify-content: space-between;
    width: 87.23%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 31px;
    align-items: center;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .card__description {
        padding-top: 15px;
        padding-bottom: 21px;
    }
}

@media screen and (max-width: 767px) {
    .card__description {
        width: 85.41%;
        padding-top: 15px;
        padding-bottom: 21px;
    }
}