.popup__close-btn {
    width: 56.56px;
    height: 56.56px;
    justify-self: flex-end;
    margin: -56.56px -56.56px 0 auto;
    background-image: url(../../../images/close-button.svg);
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-size: cover;
    border: none;
    padding: 0;
}

.popup__close-btn:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 3s;
}

@media screen and (max-width: 767px) {
    .popup__close-btn {
        margin: -50.38px 0 0 auto;
        width: 36.76px;
        height: 36.76px;
    }
}