.popup__close-btn {
    width: 40px;
    height: 40px;
    justify-self: flex-end;
    margin: -40px -40px 0 auto;
    background-image: url(../../../images/close-button.svg);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: contain;
}

.popup__close-btn:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 3s;
}

@media screen and (max-width: 767px) {
    .popup__close-btn {
        margin: -40px 0 0 auto;
        width: 18.62px;
        height: 18.62px;
    }
}