.popup__submit-btn {
    width: 83.25%;
    margin: 0 auto;
    height: 36px;
    text-align: center;
    color: #fff;
    background: #000000;
    border-radius: 2px;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 37px;
}
.popup__submit-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .popup__submit-btn {
        width: 100%;
    }
}